<!--<nav class="navbar navbar-default">

        <div class="container-fluid">
            <div class="navbar-header">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a>File Upload</a></li>
                        </ul>
                  </div>
            </div>
        </div>

</nav>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <div class="form-group">
                                    <label for="single">single</label>
                                    <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
                                </div>            
                            </form>
                        </div>
                        <div class="col-md-8">
                            <h3>File Upload with Angular 2 and Node</h3>
                            Queue length: {{ uploader?.queue?.length }}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
  
  <form  #AddDriverForm="ngForm" (ngSubmit)="addDriver()">    
        <h1>Add Driver</h1>
        
        <fieldset>
          <legend><span class="number">1</span>Driver basic info</legend>
          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name" [(ngModel)]="model.username">
          
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email" [(ngModel)]="model.email">
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="user_password" [(ngModel)]="model.password">
          <label>Age:</label>
          <input type="radio" id="under_13" value="under_13" name="user_age" [(ngModel)]="model.age"><label for="under_13" class="light">Under 13</label><br>
          <input type="radio" id="over_13" value="over_13" name="user_age" [(ngModel)]="model.age"><label for="over_13" class="light">13 or older</label>
        </fieldset>   
        <fieldset>
          <legend><span class="number">2</span>Your profile</legend>
          <label for="bio">Phone Number:</label>
          <input type="tel" id="phonnumber" name="phonenumber" [(ngModel)]="model.phone">
          <label for="cnic">Cnic:</label>
          <input type="text" id="cnic" name="cnic" [(ngModel)]="model.cnic">
          <label for="password">Liscense Image:</label>
          <img   type="image" class="image" />
          <input type="file" multiple (change)="changeListner($event)" #input />
        </fieldset>
        <fieldset>
        <label for="job">Vehicle Type:</label>
        <select id="job" name="user_job" [(ngModel)]="model.vehicle">
          <optgroup label="Corolla">
            <option value="XLI">Corrola XLI</option>
            <option value="GLI">Corrola GLI</option>
          </optgroup>
          <optgroup label="Sazuki">
            <option value="secretary">Cultus</option>
            <option value="maintenance">Mehran</option>
          </optgroup>
        </select>
        
          <label>Interests:</label>
          <input type="checkbox" id="development" value="interest_development" name="user_interest" [(ngModel)]="model.interest"><label class="light" for="development">Development</label><br>
          <input type="checkbox" id="design" value="interest_design" name="user_interest" [(ngModel)]="model.interest"><label class="light" for="design">Design</label><br>
          <input type="checkbox" id="business" value="interest_business" name="user_interest" [(ngModel)]="model.interest"><label class="light" for="business">Business</label>
        
        </fieldset>
        <button type="submit">Save</button>
      </form>