<div class="container">
        <img src="../../assets/images/Professor-icon.png">
            <form #loginFormAdmin="ngForm" (ngSubmit)="onLogin()">
                <div class="form-input">
                    <input type="text" id="username" name="username" placeholder="Enter Username" [(ngModel)]="admin.username" required>
                </div>
                <div class="form-input">
                    <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="admin.password" required>
                </div>
                <input type="submit" name="submit" value="LOGIN" class="btn-login">
                <a href="#"> Forget Password?</a>
            </form>
            <div>{{postData}}</div>
</div>