        <div class="container">
            <img src="../../assets/images/Professor-icon.png">
            <form #signupFormAdmin="ngForm" (ngSubmit)="onSignup()">
                <div class="form-input">
                    <input type="name" name="name" placeholder="Enter name" [(ngModel)]="admin.name" required>
                </div>
                <div class="form-input">
                    <input type="text" name="username" placeholder="Enter Username" [(ngModel)]="admin.username" required>
                </div>
                <div class="form-input">
                    <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="admin.password" required>
                </div>
                <div class="form-input">
                    <input type="phone" name="phone" placeholder="Enter Phone Number" [(ngModel)]="admin.phone" required>
                </div>
                <div class="form-input">
                    <input type="pin_code" name="pincode" placeholder="Enter PIN CODE" [(ngModel)]="admin.pin_code" required>
                </div>
                <div class="form-input">
                    <input type="company_id" name="companyid" placeholder="Enter COMPANY ID" [(ngModel)]="admin.company_id" required>
                </div>
                <input type="submit" name="submit" value="Signup" class="btn-login">
            </form>
            <div>
                {{postData}}
            </div>
        </div>