<!--<div class="container">
  <div class="row">
    <div class="col-md-12">
           <h1>{{title}}</h1>
            <form #myForm="ngForm">
               <div class="form-group">
                 <label for="name">NAME</label>
                 <input type="text" id="name" name="name" [(ngModel)]="model.name" required class="form-control" #name="ngModel">
                 <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-info">
                    <div [hidden]="!name.errors.required">NAME is required</div>
                 </div>
               </div>
               <div class="form-group">
                 <label for="salary">Salary</label>
                 <input type="text" id="salary" name="salary" [(ngModel)]="model.salary" required class="form-control" #salary="ngModel">
               </div>
               <button type="submit" class="btn btn-default">Save</button>
           </form>
    </div>
  </div>      
</div>-->
<!--<h1>{{ title }}</h1>-->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<!--<sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map>-->
