
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a style="color: white;" class="navbar-brand" href="#">PAK TAXI</a>        
                </div>
                <ul class="nav navbar-nav navbar-right">
                <li><a style="color: white;">A NEW WAY TO COMFORTABLE JOURNEY</a></li>
                <li class = "dropdown">
                    <a style="color: white;" class = "dropdown-toggle" data-toggle = "dropdown"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    <ul class = "dropdown-menu">
                        <li><a [routerLink]="['Driver-Signup']">Driver</a></li>
                        <li><a [routerLink]="['Admin-Signup']">Admin</a></li>
                        <li><a [routerLink]="['about']">About</a></li>
                        <li><a [routerLink]="['map']">MAP</a></li>
                </ul>
                </li>
                <li class = "dropdown">
                    <a style="color: white;" class = "dropdown-toggle" data-toggle = "dropdown"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    <ul class = "dropdown-menu">
                    <li><a [routerLink]="['Driver-Login']">Driver</a></li>
                    <li><a [routerLink]="['Admin-Login']">Admin</a></li>
                </ul>
                </li>
                </ul>
            </div>
          </nav>
    </header>
    <div class="main">
       <router-outlet></router-outlet>
    </div>