        <div class="container">
            <img src="../../assets/images/Professor-icon.png">
            <form #SignupFormDriver="ngForm" (ngSubmit)="onSignup()">
                <div class="form-input">
                    <input type="text" name="name" placeholder="Enter Name"  [(ngModel)]="driver.name" required>
                </div>
                <div class="form-input">
                    <input type="pin_code" name="pin_code" placeholder="Enter pincode"  [(ngModel)]="driver.pincode" required>
                </div>
                <div class="form-input">
                    <input type="phone" name="phone" placeholder="Enter Phone Number"  [(ngModel)]="driver.phone" required>
                </div>
                <div class="form-input">
                    <input type="cnic" name="cnic" placeholder="Enter Cnic Number"  [(ngModel)]="driver.cnic" required>
                </div>
                <input type="submit" name="submit" value="Signup" class="btn-login">
            </form>
            <div>{{postData}}</div>
        </div>