<div class="container">
        <img src="../../assets/images/Professor-icon.png">
            <form #loginFormDriver="ngForm" (ngSubmit)="sayHello()">
                <div class="form-input">
                    <input type="text" id="username" name="username" placeholder="Enter Username" [(ngModel)]="driver.username" required>
                </div>
                <div class="form-input">
                    <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="driver.password" required>
                </div>
                <input type="submit" name="submit" value="LOGIN" class="btn-login">
                <a href="#"> Forget Password?</a>
            </form>
</div>