<h1 >{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<sebm-google-map 
   [latitude]="lat"
   [longitude]="lng"
   [zoom]="zoom">
  <sebm-google-map-marker 
  *ngFor="let driver_position of driver_positions;let i=index"
   [latitude]="driver_position.lat"
   [longitude]="driver_position.lng" 
   ></sebm-google-map-marker>
</sebm-google-map>