body{
    margin: 0 auto;
    background-repeat: no-repeat;
    background: 100% 720px;
}
.container{
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(52,73,94,0.7);
    margin-top: 150px;
    border-radius:4px; 
}
.container button{
    width: 140px;
    height: 60px;
    margin-top: 120px;
    margin-right: 30x; 
}