body{
    margin: 0 auto;
    background-repeat: no-repeat;
    background: 100% 720px;
}
.container{
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(52,73,94,0.7);
    margin-top: 150px;
    border-radius:4px; 
}
.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-right: 30x; 
}
input[type="text"],input[type="password"],input[type="email"],input[type="phone"],input[type="pin_code"],input[type="company_id"],input[type="name"],input[type="cnic"]{
    width: 300px;
    height: 45px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color:#fff; 
    padding-left: 30px;
}
.form-input::before{
    content: "\f007";
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-top: 5px;
    font-size: 35px;
    color: #9B59B6;
}
.form-input:nth-child(2)::before{
   content: "\f023"; 
}
.form-input:nth-child(3)::before{
   content: "\f003"; 
}
.btn-login{
    padding: 15px 30px;
    color: #fff;
    background-color:#2ECC71;
    border: none; 
    border-radius: 4px;
    border-bottom: 4px solid #27AE60;
    margin-bottom: 20px;
    cursor: pointer;
}
a{
    color: #fff;
}